:root {
    /* Colours */
    --primary: #364f6b;
    --secondary: ;
    --light: #f0f0f0;
    --dark: #2b2b2b;
    --secondary: #883b7e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}


/* Presets */

.full-width {
    width: 100%;
}

a,
a:active,
a:visited {
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-center {
    justify-content: center;
}

.background-presets {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.line {
    width: 70px;
    height: 2px;
    background-color: var(--secondary);
    margin: auto;
}

.grid {
    display: grid;
}

.grid-preset {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.header-preset {
    font-size: 2rem;
    color: black;
    line-height: 1.6;
    width: 100%;
    text-align: center;
    margin: 20px auto;
    text-transform: uppercase;
}


/*End of presets*/

.callout {
    min-height: 10vh;
    background-color: var(--light);
    display: grid;
    grid-template-columns: auto 200px 150px;
}

.callout .brand,
.callout .icons {
    padding: 10px 30px;
    display: flex;
    align-items: center;
}

.callout .icons a {
    color: var(--dark);
    font-size: 1.3rem;
    margin: 0px 10px;
    transition: 0.3s;
}

.callout .icons a:hover {
    color: orange;
    transition: 0.3s;
}

.callout .button a {
    background-color: var(--primary);
    color: white;
    padding: 25px 20px;
}

.callout .brand .content {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--secondary);
}

.banner {
    min-height: 30vh;
}


/* Showcase */

.showcase {
    border: 1px solid black;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../IMG/us.jpg');
}

.showcase .navigation {
    width: 80%;
    margin: -30px auto;
    background-color: var(--primary);
    z-index: 100;
}

.showcase .navigation ul {
    display: flex;
}

.showcase .navigation ul li {
    list-style: none;
    padding: 20px 30px;
    transition: 0.4s;
}

.showcase .navigation ul li:hover {
    background-color: var(--secondary);
    transition: 0.2s;
}

.showcase .navigation a {
    color: white;
}

.active {
    background-color: var(--secondary);
    border-right: 1px solid var(--primary);
}

.action {
    height: 80vh;
    padding: 0px 100px;
}

.action .header {
    font-size: 2.5rem;
    color: white;
    line-height: 1.6;
    width: 80%;
    text-transform: uppercase;
}

.action .button-group {
    margin: 20px 0px;
}

.action .button-group a {
    padding: 15px 25px;
    font-size: 0.9rem;
    transition: 0.4s;
}

.action .button-group a:hover {
    padding: 17px 27px;
    transition: 0.4s;
}

.action .button-group .learn-more {
    background-color: white;
    color: var(--dark);
}

.action .button-group .contact-us {
    background-color: var(--secondary);
    color: white;
}


/* End of Showcase */


/* About */

.about .header {
    margin: 20px auto;
    text-align: center;
    font-size: 2rem;
}

.about .text {
    width: 70%;
    text-align: center;
    margin: 20px auto;
    line-height: 1.6;
}

.about .cards {
    width: 80%;
    display: grid;
    margin: 20px auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.about .cards .card {
    min-height: 50vh;
    background-color: #bdbdbd;
    display: flex;
    align-items: center;
    padding: 20px;
}

.about .cards .card2 {
    background: linear-gradient(rgba(136, 59, 126, 0.9), rgba(136, 59, 126, 0.9)), url('../IMG/flower.jpg');
}

.about .cards .card .content {
    margin: auto;
}

.about .cards .card .content .icon {
    border: 2px solid black;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    padding: 10px;
    margin: auto;
}

.about .cards .card .content .icon i {
    font-size: 2rem;
}

.about .cards .card .content .header {
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 10px auto;
}

.about .cards .card .content .caption {
    width: 100%;
    font-size: 0.9rem;
    text-align: center;
    margin: 10px auto;
    line-height: 1.6;
}

.about .cards .card2 {
    color: white;
}

.about .cards .card2 .icon {
    border: 2px solid white;
}


/* End of About */


/* Industries*/

.industries {
    background-color: var(--secondary);
    padding: 10px 0px;
    color: white;
}

.industries .header {
    font-size: 2rem;
    margin: 30px auto;
    text-align: center;
}

.industries .content {
    width: 85%;
    margin: 30px auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.industries .line {
    background-color: white;
}

.industries .tab {
    min-height: 30vh;
    display: flex;
    align-items: center;
    padding: 10px;
}

.industries .tab .icon {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    border: 2px solid white;
    padding: 10px;
    margin: auto;
}

.industries .tab .header {
    margin: 10px auto;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.industries .tab .caption {
    margin: 10px auto;
    font-size: 0.9rem;
    text-align: center;
    line-height: 1.6;
}

.services {
    padding: 20px;
}

.services .header {
    font-size: 2rem;
    margin: 30px auto;
    text-align: center;
    color: black;
}

.services .tab {
    margin: 10px;
}

.services .content .tab .icon {
    background-color: var(--secondary);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 10px;
    color: white;
    margin: 10px;
}

.services .content .tab .caption .header {
    color: rgb(16, 107, 182);
    font-size: 1.2rem;
    margin: 3px 0px;
    text-align: left;
}


/* End of Industries */


/* Staff */

.staff {
    background-color: #bdbdbd;
    padding: 20px;
}

.staff .content {
    width: 80%;
    margin: 20px auto;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.staff .content .tab {
    min-height: 40vh;
    margin: 5px;
    background-color: white;
}

.staff .content .tab .image {
    height: 30vh;
}

.staff .content .tab .badge {
    height: 10vh;
    background-color: var(--secondary);
    color: white;
}


/* End of Staff */


/* Partners */

.partners {
    padding: 20px;
}

.partners .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px 1fr));
}

.partners .content .tab {
    min-height: 30vh;
}

.footer {
    padding: 20px 0px;
    background: linear-gradient(rgba(136, 59, 126, 0.9), rgba(136, 59, 126, 0.9)), url('../IMG/flower.jpg');
}

.footer .content {
    margin: 20px auto;
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(300px 1fr));
    color: white;
}

.footer .content .tab {
    border: 1px solid black;
    min-height: 40vh;
    padding: 0px 20px;
}

.footer .content .tab1 .header {
    font-size: 1.3rem;
    margin: 0px 0px 20p 0px;
}

.footer .content .tab2 .header,
.footer .content .tab3 .header {
    font-size: 1.3rem;
    margin: 0px 0px 10px 0px;
}

.footer .content .tab1 .address,
.footer .content .tab1 .call {
    margin: 20px 0px;
    font-size: 0.9rem;
    line-height: 1.6;
    color: var(--light);
}

.footer .content .tab2 .links {
    margin: 20px 0px;
}

.footer .content .tab2 .links ul li {
    list-style: none;
    padding: 10px 20px;
}

.footer .content .tab2 .links ul li a {
    color: var(--light);
    transition: 0.3s;
}

.footer .content .tab2 .links ul li a:hover {
    color: orange;
    transition: 0.3s;
}


/* End of Partners */